
header a {
    color: #fff;
    text-decoration: none;
}


header .btn-c a{
    background-color: #0568DD;
    padding: 10px 25px;
    border-radius: 50px;
}

@media (max-width: 425px){
    
  
}
@media (max-width: 768px){
   
  
}
